apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: connessioni-deployment
  namespace: asw-project
  labels:
    app: instagnam
    service: connessioni
spec:
  replicas: 2
  selector:
    matchLabels:
      app: instagnam
      service: connessioni
  template:
    metadata:
      labels:
        app: instagnam
        service: connessioni
    spec:
      containers:
      - name: asw-connessioni
        image: cmik/connessioni:5.0.0
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
